<h2>Weathers in most interesting places for cars fans in the world</h2>
<section class="weathers">
  <div>
    <div class="container monza">
      <h3>{{locateMonza}}</h3>
      <p>{{tempMonza}}&#8451;</p>
    </div>
  </div>
  <div>
    <div class="container monaco">
      <h3>{{locateMonaco}}</h3>
      <p>{{tempMonaco}}&#8451;</p>
    </div>
  </div>
  <div>
    <div class="container spa">
      <h3>{{locateSpa}}</h3>
      <p>{{tempSpa}}&#8451;</p>
    </div>
  </div>
  <div>
    <div class="container nurburgring">
      <h3>{{locateNurburgring}}</h3>
      <p>{{tempNurburgring}}&#8451;</p>
    </div>
  </div>
  <div>
    <div class="container leMans">
      <h3>{{locateLeMans}}</h3>
      <p>{{tempLeMans}}&#8451;</p>
    </div>
  </div>

</section>
